{
	"plugins": [
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-proposal-class-properties"
	],
	"presets": [
		["@babel/preset-env", {
			"useBuiltIns": "usage",
			"targets": {
				"browsers": ["> 0.25%", "not ie 11", "not op_mini all"]
			}
		}]
	]
}
