<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Header Editor</title>
	<link rel="icon" type="image/png" href="images/128.png">
	<link rel="stylesheet" href="third-party/material-design-icons/material-icons.min.css"/>
	<link rel="stylesheet" href="third-party/vue-material/vue-material.min.css"/>
	<link rel="stylesheet" href="third-party/vue-material/theme/default.css"/>
	<link rel="stylesheet" href="styles/page.css"/>
	<link rel="stylesheet" href="styles/manage.css"/>
	<link rel="stylesheet" media="screen and (max-width: 640px)" href="styles/manage-mobile.css">
	<style id="hideEmptyGroupStyle">
	.group-item.empty {
		display: none;
	}
	</style>
	<script src="scripts/browser-polyfill.js"></script>
	<script src="scripts/common.js"></script>
	<script src="scripts/localization.js"></script>
	<script src="scripts/storage.js"></script>
	<script src="scripts/fileSaveLoad.js"></script>
	<script src="third-party/vue/vue.js"></script>
	<script src="third-party/vue-material/vue-material.min.js"></script>
</head>
<body>
	<div id="app">
		<md-tabs class="md-primary main-menu" md-elevation="1" md-active-tab="tab-rule-list">
			<md-tab id="tab-rule-list" :md-label="t('rule_list')" md-icon="list">
				<md-table md-card v-for="g of group" :key="g.name" class="group-item">
					<md-table-toolbar>
						<h1 class="md-title">{{g.name}}</h1>
						<md-button class="md-icon-button" md-direction="bottom-end" @click="g.collapse = !g.collapse">
							<md-icon v-show="!g.collapse">keyboard_arrow_up</md-icon>
							<md-icon v-show="g.collapse">keyboard_arrow_down</md-icon>
						</md-button>
						<md-menu md-size="big" md-direction="bottom-end">
							<md-button class="md-icon-button" md-menu-trigger>
								<md-icon>more_vert</md-icon>
							</md-button>
					  		<md-menu-content>
								<md-menu-item>
									<span>{{t('rename')}}</span>
									<md-icon>mode_edit</md-icon>
								</md-menu-item>
								<md-menu-item @click="onGroupShare(g.name)">
									<span>{{t('share')}}</span>
									<md-icon>share</md-icon>
								</md-menu-item>
								<md-menu-item @click="onGroupDelete(g.name)">
									<span>{{t('delete')}}</span>
									<md-icon>delete</md-icon>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-table-toolbar>
					<md-table-row v-show="!g.collapse">
						<md-table-head class="cell-enable">{{t('enable')}}</md-table-head>
						<md-table-head class="cell-name">{{t('name')}}</md-table-head>
						<md-table-head class="cell-type">{{t('ruleType')}}</md-table-head>
						<md-table-head class="cell-action">{{t('action')}}</md-table-head>
					</md-table-row>
					<md-table-row v-for="r of g.rule" :key="r.id" v-show="!g.collapse">
						<md-table-cell class="cell-enable">
							<md-switch v-model="r.enable" class="md-primary" :true-value="1" :false-value="0" :data-type="r.ruleType" :data-id="r.id" @change="newValue => onRuleEnable(r, newValue)"></md-switch>
						</md-table-cell>
						<md-table-cell class="cell-name">
							<span>{{r.name}}</span>
							<md-tooltip md-direction="bottom">
								<p>{{t('matchType')}}: {{t('match_' + r.matchType)}}</p>
								<p>{{t('matchRule')}}: {{r.pattern}}</p>
								<p>{{t('exec_type')}}: {{t('exec_' + (r.isFunction ? 'function' : 'normal'))}}</p>
								<p v-if="r.ruleType === 'redirect'">{{t('redirectTo')}}: {{r.to}}</p>
								<p v-if="r.ruleType === 'modifySendHeader' || r.ruleType === 'modifyReceiveHeader'">{{t('headerName')}}: {{r.action.name}}</p>
								<p v-if="r.ruleType === 'modifySendHeader' || r.ruleType === 'modifyReceiveHeader'">{{t('headerValue')}}: {{r.action.value}}</p>
							</md-tooltip>
						</md-table-cell>
						<md-table-cell class="cell-type">{{t('rule_' + r.ruleType)}}</md-table-cell>
						<md-table-cell class="cell-action">
							<md-button class="with-icon" @click="onChangeRuleGroup(r)"><md-icon>playlist_add</md-icon>{{t('group')}}</md-button>
							<md-button class="with-icon" @click="editRule(r)"><md-icon>mode_edit</md-icon>{{t('edit')}}</md-button>
							<md-button class="with-icon" @click="removeRule(r)"><md-icon>delete</md-icon>{{t('delete')}}</md-button>
						</md-table-cell>
					</md-table-row>
				</md-card>
			</md-tab>
			<md-tab id="tab-options" :md-label="t('options')" md-icon="settings"></md-tab>
			<md-tab id="tab-export-import" :md-label="t('export_and_import')" md-icon="settings_backup_restore"></md-tab>
		</md-tabs>
		<div id="edit-page" v-show="isShowEdit">
			<md-toolbar class="md-primary" md-elevation="1">
				<md-button class="md-icon-button" @click="closeEditPage">
				  	<md-icon>arrow_back</md-icon>
				</md-button>
				<h2 class="md-title" style="flex: 1">{{editTitle}}</h2>
			</md-toolbar>
			<div class="md-layout md-gutter">
				<div class="md-layout-item md-size-70 md-small-size-100">
					<md-card>
						<md-card-header>
							<md-card-header-text>
								<div class="md-title">{{editTitle}}</div>
							</md-card-header-text>
						</md-card-header>
						<md-card-content>
							<md-field>
								<label for="rule-name">{{t('name')}}</label>
								<md-input id="rule-name" v-model="edit.name" />
							</md-field>
							<div class="form-group">
								<div class="left">{{t('ruleType')}}</div>
								<div class="right">
									<md-radio class="md-primary" v-model="edit.ruleType" value="cancel"  :disabled="!edit.ruleTypeEditable">{{t('rule_cancel')}}</md-radio>
									<md-radio class="md-primary" v-model="edit.ruleType" value="redirect"  :disabled="!edit.ruleTypeEditable">{{t('rule_redirect')}}</md-radio>
									<md-radio class="md-primary" v-model="edit.ruleType" value="modifySendHeader"  :disabled="!edit.ruleTypeEditable">{{t('rule_modifySendHeader')}}</md-radio>
									<md-radio class="md-primary" v-model="edit.ruleType" value="modifyReceiveHeader"  :disabled="!edit.ruleTypeEditable">{{t('rule_modifyReceiveHeader')}}</md-radio>
								</div>
							</div>
							<div class="form-group">
								<div class="left">{{t('matchType')}}</div>
								<div class="right">
									<md-radio class="md-primary" v-model="edit.matchType" value="all">{{t('match_all')}}</md-radio>
									<md-radio class="md-primary" v-model="edit.matchType" value="regexp">{{t('match_regexp')}}</md-radio>
									<md-radio class="md-primary" v-model="edit.matchType" value="prefix">{{t('match_prefix')}}</md-radio>
									<md-radio class="md-primary" v-model="edit.matchType" value="domain">{{t('match_domain')}}</md-radio>
									<md-radio class="md-primary" v-model="edit.matchType" value="url">{{t('match_url')}}</md-radio>
								</div>
							</div>
							<!-- Rule match rule -->
							<md-field v-show="edit.matchType != 'all'">
								<label for="rule-matchRule">{{t('matchRule')}}</label>
								<md-input id="rule-matchRule" v-model="edit.matchRule" />
							</md-field>
							<!-- Rule exclude rule -->
							<md-field v-show="edit.matchType != 'all'">
								<label for="rule-excludeRule">{{t('excludeRule')}}</label>
								<md-input id="rule-excludeRule" v-model="edit.excludeRule" />
							</md-field>
							<!-- isFunction or not -->
							<div class="form-group">
								<div class="left">{{t('exec_type')}}</div>
								<div class="right">
									<md-radio class="md-primary" v-model="edit.execType" :value="0">{{t('exec_normal')}}</md-radio>
									<md-radio class="md-primary" v-model="edit.execType" :value="1">{{t('exec_function')}}</md-radio>
								</div>
							</div>
							<!-- redirect to -->
							<md-field v-show="edit.ruleType == 'redirect' && edit.execType == 0">
								<label for="rule-redirectTo">{{t('redirectTo')}}</label>
								<md-input id="rule-redirectTo" v-model="edit.redirectTo" />
							</md-field>
							<!-- header mondify -->
							<div v-show="(edit.ruleType == 'modifySendHeader' || edit.ruleType == 'modifyReceiveHeader') && edit.execType == 0">
								<md-field>
									<label for="rule-headerName">{{t('headerName')}}</label>
									<md-input id="rule-headerName" v-model="edit.headerName" />
								</md-field>
								<md-field>
									<label for="rule-headerValue">{{t('headerValue')}}</label>
									<md-input id="rule-headerValue" v-model="edit.headerValue" />
								</md-field>
							</div>
							<md-field v-show="edit.execType == 1">
								<label for="rule-code">{{t('code')}}</label>
								<md-textarea id="rule-code" v-model="edit.code"></md-textarea>
							</md-field>
						</md-card-content>
					</md-card>
				</div>
				<div class="md-layout-item md-size-30 md-small-size-100 edit-right">
					<md-card>
						<md-card-header>
							<md-card-header-text>
								<div class="md-title">{{t('test_url')}}</div>
							</md-card-header-text>
						</md-card-header>
						<md-card-content>
							<md-field>
								<label for="rule-test"></label>
								<md-input id="rule-test" v-model="edit.test" />
							</md-field>
							<code>{{testResult}}</code>
						</md-card-content>
					</md-card>
					<md-card>
						<md-card-header>
							<md-card-header-text>
								<div class="md-title">{{t('save')}}</div>
							</md-card-header-text>
						</md-card-header>
						<md-card-content>
							<md-autocomplete v-model="edit.group" :md-options="groupList" :md-fuzzy-search="false">
								<label>{{t('group')}}</label>
								<template slot="md-autocomplete-item" slot-scope="{ item, term }">
									<md-highlight-text :md-term="term">{{item}}</md-highlight-text>
								</template>
							</md-autocomplete>
							<md-button class="md-raised" @click="saveRule">{{t('save')}}</md-button>
						</md-card-content>
					</md-card>
				</div>
			</div>
		</div>
		<div class="float-button">
			<md-button class="md-fab md-primary" @click="showAddPage">
				<md-icon>add</md-icon>
			</md-button>
		</div>
		<md-dialog :md-active.sync="isChooseGroup">
			<md-dialog-title>{{t('group')}}</md-dialog-title>
			<md-list>
				<md-list-item v-for="g of groupList">
					<md-radio v-model="choosenGroup" :value="g" />
					<span class="md-list-item-text">{{g}}</span>
				</md-list-item>
				<md-list-item class="md-radio-input">
					<md-radio v-model="choosenGroup" value="_new" />
					<md-field md-inline>
						<label>{{t('add')}}</label>
						<md-input v-model="choosenNewGroup"></md-input>
					</md-field>
				</md-list-item>
			</md-list>
			<md-dialog-actions>
				<md-button class="md-primary" @click="onChooseCancel">Close</md-button>
				<md-button class="md-primary" @click="onChooseOK">OK</md-button>
			</md-dialog-actions>
		</md-dialog>
		<md-dialog-alert :md-active.sync="alert.show" :md-content="alert.text" md-confirm-text="OK" />
		<md-snackbar md-position="center" :md-duration="4000" :md-active.sync="toast.show" md-persistent>{{toast.text}}</md-snackbar>
	</div>
	<script src="scripts/page/element.js"></script>
	<script src="scripts/page/manage.js"></script>
</body>
</html>