.md-tab .md-card {
	margin-bottom: 16px;
}

.group-item {
	.md-table-cell {
		font-size: 15px;
		line-height: 30px;
	}

	.cell-enable {
		width: 80px;
	}

	.cell-name {
		width: 50%;
	}

	.cell-action {
		width: 400px;
	}

	.cell-action .md-button {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.float-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 56px;
	z-index: 2;

	.mdl-button {
		margin-top: 15px;
	}
}

.form-group>* {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}

#edit-page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #EEE;

	.md-gutter {
		padding: 20px;
		height: calc(100% - 64px);
		overflow: auto;
	}

	.form-group {
		>* {
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 16px;
			display: inline-block;
			vertical-align: middle;
		}

		.left {
			width: 10%;
			min-width: 160px;
		}

		.right {
			width: 89%;
			max-width: calc(100% - 190px);

			.mdl-radio {
				margin-right: 10px;
			}
		}
	}

	.edit-right .md-card {
		margin-bottom: 20px;
	}
}

.md-radio-input {
	.md-radio {
		.md-radio-container {
			margin-top: 8px;
		}

		.md-radio-label {
			height: 32px;
		}
	}
}

.md-radio {
	.md-field {
		margin: 0;
		padding: 0;
		min-height: 32px;

		label {
			top: 8px;
		}

		&.md-inline.md-focused label {
			top: 8px;
		}
	}

}

.main-menu>.md-content {
	height: auto !important;
	background-color: #fafafa !important;
}

.md-tooltip {
	height: auto;
}