.page .theme-default-content,
.page .page-edit,
.page .page-nav {
	max-width: 1200px;
	padding-left: 3em;
	padding-right: 3em;
}

table {
	min-width: 100%;
}

@media (max-width: 959px) {
	.page .theme-default-content,
	.page .page-edit,
	.page .page-nav {
		padding-left: 2em;
		padding-right: 2em;
	}
}