
.md-tab .md-card {
	margin-bottom: 16px;
}

.md-tooltip {
	height: auto;
}

.md-overlay {
	z-index: 999;
}

.md-dialog {
	z-index: 1000;
}

.md-button.with-icon .md-icon {
	margin-right: 5px;
}

.md-radio-input {
	.md-radio {
		.md-radio-container {
			margin-top: 8px;
		}

		.md-radio-label {
			height: 32px;
		}
	}
}

.md-radio {
	.md-field {
		margin: 0;
		padding: 0;
		min-height: 32px;

		label {
			top: 8px;
		}

		&.md-inline.md-focused label {
			top: 8px;
		}
	}

}

.dragbox {
	background: #fff;
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
	width: 400px;
}