body {
	background-color: #EEE;
}
.main-menu .md-tabs-navigation {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}
.main-menu .md-tabs-navigation .md-button-content {
	flex-direction: row;
	align-items: center;
}
.main-menu .md-tabs-navigation .md-button-content .md-icon {
	margin-right: 10px;
}
.main-menu .md-tabs-navigation .md-button-content .md-tab-label {
	margin-top: 0;
}
.main-menu .md-tabs-container {
	padding-top: 72px;
	background-color: #EEE;
}
.main-menu .md-tabs-content {
	height: auto !important;
	background-color: #EEE;
}
.md-menu-content.md-select-menu {
	z-index: 9999;
}