body {
	background-color: #EEE;
}
.md-tooltip {
	height: auto;
	font-size: 13px;
}
.md-tooltip p {
	margin: 3px;
}
.md-button.with-icon .md-icon {
	margin-right: 6px;
}
.main-menu .md-tabs-navigation {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}
.main-menu .md-tabs-navigation .md-button-content {
	flex-direction: row;
	align-items: center;
}
.main-menu .md-tabs-navigation .md-button-content .md-icon {
	margin-right: 10px;
}
.main-menu .md-tabs-navigation .md-button-content .md-tab-label {
	margin-top: 0;
}
.main-menu .md-tabs-container {
	padding-top: 72px;
	background-color: #EEE;
}
.main-menu .md-tabs-content {
	height: auto !important;
	background-color: #EEE;
}